body
    font-family:"Courgette"    
    header
        .nav
            display: flex
            position: absolute
            z-index: 1
            // justify-content: center
            transform: translate(300px, 0)
            width: 100%
            margin-top: 2%
            .txt
                z-index: 1
                transform: translate(-750px, 300px)
                text-align: center
                h1
                    color: #fff
            .elements
                display: flex
                text-decoration: none
                border-top: solid #fff
                border-bottom: solid #fff
                margin-top: 3%
                li:hover
                    background-color: red
                li
                    list-style-type: none
                    a
                        text-transform: uppercase
                        margin-top: 4%
                        margin-bottom: 4%
                