.section4
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/testimonials_background.jpg")
    .testimonials
        background-repeat: no-repeat
        background-size: auto
        text-align: center
        margin-top: 3%
        h1
            color: #fff
        span
            color: #C42D40
    .row
        .col-6
            display: flex
            margin-top: 10%
            .ecrito1
                border: solid #fff
                border-radius: 15px
                margin-left: 15px
                color: #fff
                span
                    color: red
            .ecrito2
                border: solid #fff
                border-radius: 15px
                margin-right: 15px
                color: #fff
                span
                    color: red
            img[alt="testi1"]
                border-radius: 100%
                width: 10em
            img[alt="testi2"]
                border-radius: 100%
                width: 10em
                float: right

