.section4
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/testimonials_background.jpg")
    .testimonials
        text-align: center
        h1
        color: #fff
        span
            color: #C42D40
