.section3
    .table
        display: flex
        justify-content: center
        justify-content: space-between
    .book
        text-align: center
        text-transform: capitalize
        font-family: Courgettes
        span
            color: #C42D40
        img[alt="decoration-line"]
            @media screen and (max-width: 600px)
                width: 70%
        
    .infos
        background-image: url("../images/book_table_bg.jpg")
        border-radius: 15px
        margin-left: 25%
        margin-right: 25%
        background-repeat: no-repeat
        background-position: center
        text-align: center
        color: #fff
        margin-top: 3%
        @media screen and (max-width: 600px)
            background-size: cover
            width: 70%
            margin-left: 15%
            
        .formular
            text-align: center
            input
                border-radius: 20px
                padding: 10px
                margin-top: 30px
                text-transform: capitalize
                padding-left: 25px
                padding-right: 25px
            select
                border-radius: 20px
                padding: 10px
                margin-top: 30px
                text-transform: capitalize
                padding-left: 40px
                padding-right: 40px
        button
            margin-top: 5%
            margin-bottom: 7%
            border-radius: 15px
            background-color: #C42D40
            color: #fff
            padding-right: 3%
            padding-left: 3%
            padding-top: 1%
            padding-bottom: 1%
            text-transform: uppercase
    .blog
        text-transform: capitalize
        text-align: center
        margin-top: 5%
        font-family: Courgettes
        span
            color: red
        img[alt="deco-line"]
            @media screen and (max-width: 600px)
                width: 70%
    .blog-pics
        display: flex
        justify-content: center
        justify-content: space-evenly
        margin-top: 3%
        z-index: -1
        @media screen and (max-width: 600px)
            flex-direction: column
            text-align: center
            img[alt="img-blg"]
                @media screen and (max-width: 600px)
                    width: 350px
                    margin-left: 0
        img
            border-radius: 15px
            border: solid grey
        p
            font-size: larger
            color: #fff
            text-align: center
            background-color: #C42D40
            border-radius: 10px
            position: relative
            z-index: 1
            transform: translate(0, -20px)
            padding-bottom: 3%
            padding-top: 3%
            margin-left: 7%
            margin-right: 15%
            @media screen and (max-width: 600px)
                width: 200px
                padding-right: 100px
                padding-right: 20px
                margin-left: 20%
                text-align: center
            span
                font-size: x-large
    .red-btn
        text-align: center
        margin-top: 5%
        button
            background-color: #C42D40
            color: #fff
            text-transform: uppercase
            border-radius: 20px
            padding-left: 2%
            padding-right: 2%
    .box-bottom
        display: flex
        justify-content: space-between
            
