.section3
    .table
        display: flex
        justify-content: center
        justify-content: space-between
    .book
        text-align: center
    .infos
        background-image: url("../images/book_table_bg.jpg")
        z-index: 1
        background-repeat: no-repeat
        background-position: center
        text-align: center
