.section1
    background-image: url(../images/main_bg.jpg)
    background-repeat: repeat
    height: auto
    display: flex
    .row
        margin-top: 5%
        .col2
            li
                border-right: solid #000
                border-bottom: solid #000
                list-style-type: none
                justify-content: center
                align-items: center
                .liste
                &:hover
                    border-right: solid red
                    color: #000
            a
                text-decoration: none
                color: grey
                i
                    color: grey
                    font-size: 6em
                    margin-left: 25%
                i:hover
                    color: red !important
            p
                text-transform: capitalize
                text-align: center
                text-align: center
            p:hover
                color: #000
        .col5
            li
                display: flex
                list-style-type: none
                border-bottom: 1px dotted
                img
                    width: 8em
                    border-radius: 100px
    .contain-inner
        display: flex
        text-align: center
        justify-content: space-between
    .story
        justify-content: center
        text-align: center
        margin-left: 25%
        margin-right: 25%
        h2
            font-family: Courgettes
            text-transform: capitalize
            span
                text-transform: uppercase
                color: red
        .menu
            margin-top: 10%
            h2
                text-transform: capitalize
                span
                    text-transform: uppercase
                    color: red
    .btm-triangle
        display: flex
        justify-content: center
        justify-content: space-between
        margin: auto

        

